doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block meta-tags
    block page-title
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
    include css.pug
  body
    block content
    include footer.pug
    include scripts.pug
