extends includes/layouts.pug

block append meta-tags
  meta(name='description', content='About Lesley B Hazleton')
  meta(name='keywords', content='About Lesley B Hazleton')
  meta(name='author', content='Lesley B Hazleton')

block page-title
  title About Lesley B Hazleton

block content

  // Page Header
  header.masthead(style="background-image: url('assets/img/christine-roy-ir5MHI6rPg0-unsplash.jpg')")
    .container.position-relative.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          .page-heading
            h1 Lesley B Hazleton 
            span.subheading A Highly Accomplished Chief Financial Officer (CFO) with Global Expertise

  // Main Content
  main.mb-4
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        p Lesley B Hazleton is a seasoned and globally-minded Chief Financial Officer (CFO) with an impressive track record of success in finance and accounting management. With extensive experience spanning diverse industries, Lesley possesses a deep understanding of treasury, risk management, reporting, M&A, and manufacturing operations management. Her expertise also includes audit management, IT management, HR management, and Sarbanes-Oxley compliance, making her a well-rounded and invaluable asset to any organization. As a forward-thinking and adaptable self-starter, Lesley thrives on implementing lean and six sigma tools for process improvement, consistently driving efficiencies and managing sensitive financial projects with excellence.
        p With an unwavering commitment to problem-solving and change management, Lesley has demonstrated a strong strategic focus on the finer details while considering the broader impact of financial decisions. As an empowering leader, she values honesty, collaboration, and fairness, inspiring achievement and teamwork within her teams. Her vast experience encompasses financial restructuring, tax management, and managing key financial relationships. Lesley is not only a quick study but also remains up-to-date on industry trends and requirements. Her effective communication skills allow her to interact seamlessly across all levels of an organization, fostering work environments conducive to productivity and creativity.
        p In summary, Lesley B Hazleton's remarkable journey as a Chief Financial Officer (CFO) is a testament to her exceptional financial acumen and operational prowess. Her proficiency in managing systems implementations, process redesign, and lean methodologies for improvement has consistently led to outstanding results. With extensive experience in global financial management, risk management, and continuous improvement, Lesley brings a unique blend of optimism and realism to her decision-making processes. Her wealth of knowledge in financial restructuring, taxation, and GAAP expertise makes her a trusted leader capable of guiding organizations towards sustainable growth and success.
        h2 Specialties
        ul
          li Global financial management
          li Operations management
          li Global tax management
          li Treasury
          li In-depth understanding of control environments, including Sarbanes-Oxley
          li Extensive GAAP expertise
          li Management of operational and corporate finance functions
          li Change management
          li Application of lean in the back office
          li Risk management
          li Continuous improvement and restructuring
        h2 Licenses and Certifications
        ul
          li Certificate of Completion in Strategies for Developing Effective Presentation - American Management Association (Issued Dec 2014)
          li Fulbright & Jaworski Public Offering School - Fulbright & Jaworski (Issued May 2011)
          li Fulbright & Jaworski Mergers & Acquisitions School - Fulbright & Jaworski (Issued Nov 2010)
          li Certified Public Accountant - Texas State Board of Public Accountancy (Issued Jul 1994)
        h2 Organizations
        ul
          li Executive Women's Forum - Member (Jul 2014 - Present)
          li Texas Society of Certified Public Accountants - Member (Jun 2012 - Present)
          li Financial Executives Networking Group (FENG) - Member (May 2003 - Present)
          li Mensa - Member (May 1988 - Present)
