extends includes/layouts.pug

block append meta-tags
  meta(name='description', content='Lesley B Hazleton Experienced CFO and Financial Transformation Leader')
  meta(name='keywords', content='index, thoughts, Lesley B Hazleton')
  meta(name='author', content='Lesley B Hazleton')

block page-title
  title Lesley B Hazleton Thoughts

block content
  // Page Header
  header.masthead(style="background-image: url('assets/img/andreas-brucker-C2Dyr5FhGPQ-unsplash.jpg')")
    .container.position-relative.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          .site-heading
            h1 Lesley B Hazleton
            span.subheading Experienced CFO and Financial Transformation Leader 

  // Main Content
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-md-10.col-lg-8.col-xl-7
        h2 Unlocking Financial Excellence
        p My passion for financial excellence and my commitment to innovation have been the driving forces behind my journey as a CFO. With a proven track record of financial leadership, I have successfully managed treasury, risk management, reporting, FP&A, M&A, and more. My experience spans diverse industries, providing me with a holistic perspective on financial strategies that work across sectors.
        p As a CFO, I firmly believe in the power of collaboration and empowering teams to achieve remarkable results. Through my blog posts, I will highlight the significance of building resilient financial cultures that foster creativity, data-driven decision-making, and a people-centric approach.
        h2 Topics to Explore
        ul
          li 
            a(href='embracing-change.html')
              | Embracing Change 
          li 
            a(href='financial-leadership.html')
              | Financial Leadership in Challenging Times

          li Leveraging Technology for Financial Advancement
          li Navigating Challenging Financial Landscapes
          li Building Resilient Financial Cultures
          li Innovative Strategies for CFO Success
        h2 Join the CFO Conversation
        p I invite you to join me in this CFO conversation and embark on a journey of financial enlightenment. Whether you are a finance professional, business leader, or simply passionate about finance, this blog is designed to empower you with actionable insights that can transform financial performance and drive success.
        p Together, let's optimize financial success, embrace innovation, and unlock the full potential of financial leadership. Welcome aboard!

