extends includes/comingsoon.pug

block append meta-tags
  meta(name='description', content='This is the index page description')
  meta(name='keywords', content='index, thoughts, Lesley B Hazleton')
  meta(name='author', content='Lesley B Hazleton')

block page-title
  title Lesley B Hazleton 

block content
  // Page Header
  header.masthead(style="background-image: url('assets/img/andreas-brucker-C2Dyr5FhGPQ-unsplash.jpg')")
    .container.position-relative.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          .site-heading
            h1 Lesley B Hazleton
            span.subheading 
          

  // Main Content
  .container.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-md-10.col-lg-8.col-xl-7
        blockquote A highly accomplished, globally minded, and forward thinking top finance executive with widely diversified experience in finance and accounting management, treasury, risk management, reporting, FP&A, M&A, manufacturing operations management, audit management, IT management, HR management, Sarbanes-Oxley compliance, management of key financial relationships, taxation, ERP project management, and finance restructuring.
        
